body {font-family: "SBL Hebrew", 'david', 'Times New Roman';color: #262523;background-color: #f5eee0;margin: 1.5em;font-weight: regular;zoom: 250%;}
p {font-size: 165%;text-align: justify;font-weight: regular;}
p.r {font-size: 165%;text-align: right;font-weight: regular;}
p.m {font-size: 120%;text-align: justify;font-weight: regular;}
p.s {font-size: 100%;text-align: justify;font-weight: regular;}
tr {font-size: 135%;font-weight: regular;}
h1 {font-size: 260%;text-align: center;font-weight: regular;}
h2 {font-size: 210%;text-align: center;font-weight: regular;}
h3 {font-size: 180%;text-align: right;font-weight: regular;}
big {font-size: 120%;font-weight: regular;}
small {font-size: 80%;font-weight: regular;}
